<app-header></app-header>
<br><br><br>
<div class="single-pro-image">
    <img class="img" src="assets\images\tomato.jpg" width="400px" height="400px" id="MainImg" alt="">
        </div>
        <div class="single-pro-details">
            <h6>Home/Shop/Tomato</h6>
            <h4>Tomato</h4>
            <h2>₹30</h2>
            <select [(ngModel)]="selectedQuantity">
                <option>Select Quantity</option>
                <option>0.5kg</option>
                <option>1kg</option>
                <option>1.5kg</option>
                <option>2kg</option>
                <option>3kg</option>
                <option>4kg</option>
            </select>
            <br>
            <div class="norm">
                <div class="normal">
                    <button class="normal" style="color: black;" (click)="displayAlert('Added to Cart')">Add to Cart</button>
                </div>
                <div class="nor">
                    <button class="nor" style="color: black;" (click)="displayAlert('Placing order')">Buy Now</button>
                </div>
            </div>
        </div>
    
<router-outlet></router-outlet>